button {
    width: 100px;
    height: 100px;
    margin: 10px;
}

#white {
    background-color: white;
}
#blue {
    background-color: blue;
}
#red {
    background-color: red;  
}
#green {
    background-color: green;
}
#pink {
    background-color: pink;
}
#yellow {
    background-color: yellow;
}
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:80vh;
}
p {
    font-size: 30px;
    font-weight: bold;
}